{%load static%}
<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Basic Description -->
    <meta name="description" content="I'm Hardik Vaghamshi, pursuing a B.E in Information Technology. I am actively seeking software developer/engineer roles to showcase my skills and work.">

    <!-- Keywords for Search Engines -->
    <meta name="keywords" content="Hardik Vaghamshi, Kalyonix, Kalyonix Solutions, software developer, computer science engineering, software engineer, web development, Python, Django">

    <!-- Theme Color for Browsers -->
    <meta name="theme-color" content="#2196f3">

    <!-- Open Graph Tags (optional, for social media) -->
    <meta property="og:title" content="Hardik Vaghamshi  | kalyonix | kalyonix.Solutions">
    <meta property="og:description" content="Explore the work and skills of Hardik Vaghamshi, a BE Information Technology student seeking software development roles.">
    <meta property="og:image" content="{% static 'images/logo.png' %}"> <!-- Replace with your image URL -->
    <meta property="og:url" content="https://kalyonix.pythonanywhere.com/.com"> <!-- Replace with your website URL -->
    <meta property="og:type" content="website">

	<title>Hardik Vaghamshi | Kalyonx.Solutions</title>
	<link rel="shortcut icon" type="image/ico" href="images&icons/icon_1.ico">
        <link rel="icon" type="image/ico" href="images&icons/icon.ico">
	<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">


	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>

	<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">

	<link rel="stylesheet" type="text/css" href="{% static 'loader.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<style type="text/css">


	</style>
	<script>

		//adding preloader css animation
		var count=0;
	      var counter = setInterval(() => {
	        if (count < 101) {
	          $('.count').text(count + '%');
	          $('.loader').css('width',count + '%');
	          count ++
	        }else{
	          clearInterval(counter)
	        }
	      });
$(document).ready(function(){




//Get the button
var mybutton = document.getElementById("scrolltotop");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
mybutton.style.display = "block";
} else {
mybutton.style.display = "none";
}
}

// When the user clicks on the button, scroll to the top of the document
		$('#scrolltotop').on('click', ()=>{
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
		})



})
document.addEventListener('DOMContentLoaded', () => {

	//for nav links for mobile....
	const linefornav = document.getElementById("linefornav");
	const navlinks = document.getElementById("nav-links");
	const links = document.getElementById("nav-links li");
	const line1 = document.getElementById("line1");

	linefornav.addEventListener('click', () => {
		navlinks.classList.toggle("open");
		linefornav.classList.toggle("cross");

	});

	$('#nav-links li a').on('click' , ()=>{
		$('#nav-links').toggleClass("open");
		$(".linefornav").toggleClass("cross");
	});


});


//adding animation effect to the page
		$(document).ready(function(){
    		$('.heading-part1').waypoint(function(direction){
     			 $('.heading-part1').addClass('animate__fadeInDown')
    		},{offset:'100%'})
		});
		$(document).ready(function(){
    		$('.heading-part2').waypoint(function(direction){
     			 $('.heading-part2').addClass('animate__fadeInUp')
    		},{offset:'100%'})
		});
		$(document).ready(function(){
    		$('.knowmore').waypoint(function(direction){
     			 $('.knowmore').addClass('animate__fadeIn')
    		},{offset:'100%'})
		});
		$(document).ready(function(){
    		$('.about-part1').waypoint((direction)=>{
     			 $('.about-part1').addClass('animate__fadeInRightBig')
    		},{offset:'50%'})
		});

		$(document).ready(function(){
    		$('.about-part2').waypoint(function(direction){
     			 $('.about-part2').addClass('animate__fadeInLeftBig')
    		},{offset:'50%'})
		});
		$(document).ready(function(){
    		$('.tl-part1').waypoint(function(direction){
     			 $('.tl-part1').addClass('animate__fadeInLeft')
    		},{offset:'50%'})
		});
		$(document).ready(function(){
    		$('.tl-partp').waypoint(function(direction){
     			 $('.tl-partp').addClass('animate__fadeInUp')
    		},{offset:'50%'})
		});
		$(document).ready(function(){
    		$('.tl-part2').waypoint(function(direction){
     			 $('.tl-part2').addClass('animate__fadeInRight')
    		},{offset:'50%'})
		});
		$(document).ready(function(){
    		$('.skills-part1').waypoint(function(direction){
     			 $('.skills-part1').addClass('animate__fadeInUp')
    		},{offset:'50%'})
		});
		$(document).ready(function(){
    		$('.skills-part2').waypoint(function(direction){
     			 $('.skills-part2').addClass('animate__fadeInUp')
    		},{offset:'50%'})
		});
		$(document).ready(function(){
    		$('.fw-part1').waypoint(function(direction){
     			 $('.fw-part1').addClass('animate__fadeInUp')
    		},{offset:'50%'})
		});
		$(document).ready(function(){
    		$('.fw-part2').waypoint(function(direction){
     			 $('.fw-part2').addClass('animate__fadeInUp')
    		},{offset:'50%'})
		});
		$(document).ready(function(){
    		$('.port-part1').waypoint(function(direction){
     			 $('.port-part1').addClass('animate__fadeInUp')
    		},{offset:'50%'})
		});
		$(document).ready(function(){
    		$('.port-part2').waypoint(function(direction){
     			 $('.port-part2').addClass('animate__fadeInUp')
    		},{offset:'50%'})
		});
		$(document).ready(function(){
    		$('.cont-part1').waypoint(function(direction){
     			 $('.cont-part1').addClass('animate__fadeInLeftBig')
    		},{offset:'60%'})
		});
		$(document).ready(function(){
    		$('.cont-part2').waypoint(function(direction){
     			 $('.cont-part2').addClass('animate__fadeInRightBig')
    		},{offset:'60%'})
		});
		$(document).ready(function(){
    		$('.cv-part1').waypoint(function(direction){
     			 $('.cv-part1').addClass('animate__fadeInDown')
    		},{offset:'50%'})
		});
		$(document).ready(function(){
    		$('.sm-part1').waypoint(function(direction){
     			 $('.sm-part1').addClass('animate__bounceIn')
    		},{offset:'80%'})
		});
		$(document).ready(function(){
    		$('.sm-part2').waypoint(function(direction){
     			 $('.sm-part2').addClass('animate__fadeInUp')
    		},{offset:'90%'})
		});



	</script>

	<style>
	#hero {
    background: gray;
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("{% static 'images/bg11.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    }
    /* Media Query for Tablets and Mobile Devices */
    @media (max-width: 768px) {
        #hero {
            background-size: auto; /* Adjust background size for smaller screens */
            background-position: top center; /* Align background image to the top */
            min-height: 60vh; /* Reduce minimum height for mobile devices */
        }
    }

    /* Media Query for Mobile Devices */
    @media (max-width: 480px) {
        #hero {
            background-size: auto; /* Adjust background size for very small screens */
            background-position: top center; /* Align background image to the top */
            min-height: 50vh; /* Further reduce minimum height for small screens */
            font-size: 14px; /* Adjust font size for small screens */
        }
    }


	</style>
</head>
<body id="top">
<!-- ********HEADER***************-->

	<div class="wrapper">
	    <section>
	      <div class="loader"></div>
	      <div class="count"></div>
	    </section>
	</div>



	<nav>
		<div class="linefornav" id="linefornav">


			<span></span>
			<span></span>
			<span></span>

		</div>

		<ul class="nav-links" id="nav-links">
			<li><h2 href="#top"><img style="width: 200px;height: 200px;margin-right: 500px;" src="{% static 'images/logo.png' %}" alt="Kalyonix Logo"></h2></li>
			<li><a href="#top"> Home</a></li>
			<li><a href="#about"> About Me</a></li>
			<li><a href="#Skills"> Skills</a></li>
			<li><a href="#portfolio"> Portfolio</a></li>
			<li><a href="#contact"> Contact Me</a></li>

		</ul>

	</nav>

<!--</div>-->


<!-- ********HOMEPAGE***************-->
	<div id="hero">
		<div class="background-image"></div>
		<h1 class="heading-part1 animate__animated">Welcome !! To Kalyonix Solutions</h1>
		<h3 class="heading-part2 animate__animated">I love playing with Html, Css and Javascript with programming knowledge of C, C++, Java & more.</h3>
		<a href="#about" style="font-family: 'Josefin Sans', sans-serif;" class="btn knowmore animate__animated ">Know More</a>

		<p id="scrolltotop" title="Go to top">Scroll to Top</p>


	</div>
	<!-- ********About***************-->
	<div id="about" class="about">
		<h3 class="title">About Me</h3>
		<div id="two-cols">
		<div class="about-image about-part1 animate__animated"><img style="width: 300px;height: 300px; border-radius: 5%;" src="{% static 'images/logo.png' %}" alt="kalyonix"></div>
		<div class="about-bio about-part2 animate__animated">
			<p>
				At Kalyonix Solutions, we are passionate about transforming ideas into innovative digital solutions. As a cutting-edge technology company, we specialize in providing comprehensive IT services that empower businesses to thrive in today’s fast-evolving digital landscape.<br><br>

				Our expertise spans a wide range of domains, including software development, web and mobile app design, cloud computing, and IT consulting. We take pride in delivering customized, scalable, and efficient solutions tailored to meet the unique needs of our clients.<br><br>

				Whether you're a startup aiming to break into the market or an established business looking to optimize and innovate, Kalyonix Solutions is your trusted partner in success. With a client-centric approach, we are committed to excellence, reliability, and delivering results that drive growth and sustainability.
			</p>
		</div>
				<p>&nbsp;</p>
	</div><hr>
	</div>
	<!-- ----*******Educational Timeline********--------
	<p class="tl-partp animate__animated" style="text-align: center; font-size: 20px;font-family: 'Josefin Sans', sans-serif;">Education Timeline</p><hr>
	<div class="timeline">
	  <div class="container left tl-part1 animate__animated">
	    <div class="content">
	      <h2>2017 - 2021</h2>
	      <h3>B.Tech CSE</h3>
	      <p><b>CPI : 7.43</b><br>Rajarambapu institute of technology ,Islmapur,Sangli.</p>
	    </div>
	  </div>
	  <div class="container right tl-part2 animate__animated">
	    <div class="content">
	      <h2>2016 - 2017</h2>
	      <h3>12th - HSC</h3>
	      <p><b>Percentage : 76.15%</b><br>Rajarshi shahu mahavidyalay, Latur.</p>
	    </div>
	  </div>
	  <div class="container left tl-part1 animate__animated">
	    <div class="content">
	      <h2>2014 - 2015</h2>
	      <h3>10th - SSC</h3>
	      <p><b>Percentage : 92.00%</b><br>Vidyavikas vidyalay, Latur.</p>
	    </div>
	  </div>
	</div><hr> -->
	<!-- ********Skills**************-->
	<div id="Skills" class="Skills">
		<h3 class="title">Skills</h3>
		<p class="skills-part1 animate__animated" style="margin-bottom: 40px;">
			I specialize in building scalable business software and e-commerce platforms, using the latest technologies such as Python and Django for backend development, and React with Tailwind CSS for modern, responsive user interfaces. My experience spans across full-stack development, from crafting intuitive front-ends to architecting robust backend systems that meet business needs.
		</p>
		<hr>
		<ul class="grid skills-part2 animate__animated">
			<li>
				<i></i>
				<h4 class="textskill">Front-End</h4>
				<p>Expert in developing modern UIs with HTML, CSS, React, and Tailwind CSS, ensuring a seamless and responsive user experience.</p>
			</li>
			<li>
				<i></i>
				<h4 class="textskill">Back-End</h4>
				<p>Proficient in Python and Django for developing scalable and secure backend systems, with experience in database management (SQL & NoSQL).</p>
			</li>
			<li>
				<i></i>
				<h4 class="textskill">Databases</h4>
				<p>Experienced with managing and integrating databases like MySQL, PostgreSQL, SQL, and NoSQL solutions for various projects.</p>
			</li>
		</ul>
	</div>
	<hr>

	<!--Frameworks worked with-->
		<div class="framework">
			<p style=" font-family: 'Josefin Sans', sans-serif;" class="fw-part1 animate__animated">Some technologies i have experience working with :</p><hr>
			<div class="fwimg fw-part2 animate__animated">
				<img class="fwf" src="{% static 'framework png\'s/ht5.png' %}" alt="html">
                <img class="fwf" src="{% static 'framework png\'s/css.png' %}" alt="css">
                <img class="fwf" src="{% static 'framework png\'s/mysql.png' %}" alt="MySql">
                <img class="fwf" src="{% static 'framework png\'s/python.png' %}" alt="Python">
                <img class="fwf" src="{% static 'framework png\'s/mongodb.png' %}" alt="MongoDB">
                <img class="fwf" src="{% static 'framework png\'s/js.png' %}" alt="Javascript">
                <img class="fwf" src="{% static 'framework png\'s/django.png' %}" alt="Django">
                <img class="fwf" src="{% static 'framework png\'s/vs.png' %}" alt="vs code">
                <img class="fwf" src="{% static 'framework png\'s/git.png' %}" alt="github">

			</div>
		</div><hr>
	<!-- *********Portfolio**************-->
	<div id="portfolio" class="portfolio">
		<h3 class="title">Portfolio</h3>
		<p class="port-part1 animate__animated">
			Take a look at Our Previous works.
		</p>
		<hr>
		<ul  style="justify-content: center;" class="grid port-part2 animate__animated">
			<li class="large" style="background-image: url('{% static "images/carousel-2.jpg" %}');"><p id="po">SKV-constructions<br>its Providing Breif intro Of Skv-Construction</p><p id="lo">SKV-constructions<br>As developers for SKV Construction's website, we design and maintain the site, ensure mobile responsiveness, integrate backend databases, manage content, implement forms, enhance security, and optimize for SEO. We also monitor site performance and ensure smooth, secure functionality for users.
			</p><a href="#about" class="btn" id="btnopen">Open</a></li>
			<li class="large" style="background-image: url('{% static "images/kalyonix.png" %}');"><p id="po">Kalyinix.Solutions<br>Kalyinix-Solutions</p><p id="lo">Kalyonix Solutions<br>Kalyonix Solutions is a Python Django development company expertise in building robust, scalable, and efficient web applications. We offer custom web development, API integration, web solutions, website redesign, and bug fixing services, delivering high-quality work with attention to detail and timely delivery</p><a id="btnopen" href="#about" class="btn">Open</a></li>
		</ul>
	</div>
	<hr>

	<!-- *********CONTACT**************-->
<div><h3 class="title">Contact Me</h3></div>
<hr>
<div id="contact">
    <div class="contact-container">
        <!-- Display flash messages -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form id="contact-form" action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="5" required></textarea>

            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>
<hr>



	<!-- *********FOOTER**************-->
	<div class="cv-part1 animate__animated" style="text-align: center;">
		<a href="/media/HARDIK RESUME PY.pdf" download="/media/HARDIK RESUME PY.pdf" target="_blank" class="btn cv-part1 animate__animated" style="font-family: 'Josefin Sans', sans-serif;" id="cv">Download CV</a>
	</div>

	<hr>
	<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="HORIZONTAL" data-vanity="hardik-vaghamshi-677859288"  
	data-version="v1">
	 <a class="badge-base__link LI-simple-link" href="https://linkedin.com/in/hardik-vaghamshi-0677859288">Hardik Vaghamshi</a>
   </div>


	<!-- *********FOOTER**************-->
	<footer id="social-media">
		<ul class="sm-part1 animate__animated">
			<li><a href="https://mobile.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
			<li><a href="https://www.instagram.com/Kalyonix" target="_blank"><i class="fab fa-instagram"></i></a></li>
			<li><a href="https://linkedin.com/in/hardik-vaghamshi-0677859288" target="_blank"><i class="fab fa-linkedin"></i></a></li>
			<li><a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a></li>
			<li><a href="mailto:hardikvaghamshi316@gmail.com?subject=Hello, I'm ...&body=I have a job for you...." target="_blank"><i class="far fa-envelope"></i></a></li>
		</ul>
		<p class="sm-part2 animate__animated">Thank you for visiting !</p>
		<p class="sm-part2 animate__animated">&ldquo; Believe In Yourself &rdquo;</p>
		<p class="sm-part2 animate__animated">Copyright &copy; <script>document.write(new Date().getFullYear());</script> Made with <span style="color: red"class="heart">❤</span> by Kalyonix ' s Devlopers </p>
	</footer>


</body>
</html>
